nav.editpages-nav
  a(class='nav-logo' href='/' )
    img(class='nav--logo-img' src="../img/background/logo1.png", alt="banicki barber logo")
  .edit--nav-btns
    a(class='btn link logout-btn') Wyloguj
    a(class='link btn-blue' href='/admin') MENU EDYCJI
