nav.editpages-nav
  a(class='nav-logo' href='/' )
    img(class='nav--logo-img' src="/img/background/logo1.png", alt="banicki barber logo")
  .edit--nav-btns
    a(class='link btn-blue' href='/') STRONA GŁÓWNA