doctype html
html
  head 
    include _head
    link(rel='stylesheet' href='/css/admin.css')
  body 
    section.section-login
      include _loginNav
      
      .login-container
        h3.third-header.login-header Zapomniałem Hasła
        form.form.forgot--password-form
          .form-group
            label.form__label(for='email-forgot') E-mail
            input.form__input#email-forgot(type='email')
          input.btn--auth-submit(type='submit' value='Potwierdź')
          
