doctype html
html
  head 
    include _head
    link(rel='stylesheet' href='/css/admin.css')
  body 
    section.section-login
      include _loginNav
      
      .login-container
        h3.third-header.login-header Ustaw Nowe Hasło
        form.form.renew--password-form
          .form-group
            label.form__label(for='password-renew') Nowe Hasło
            input.form__input#password-renew(type='password')
          .form-group
            label.form__label(for='password--repeat-renew') Powtórz Nowe Hasło
            input.form__input#passwordConfirm-renew(type='password')
          input.btn--auth-submit(type='submit' value='Potwierdź')
          
